
<div id="me">
    <div id="me-hi">Gabriel Moreno</div>
    <div id="me-about">Desarrollador de software
    </div>
    <div id="me-links">
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
        <a href="assets/files/{{ site.resume }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
    </div>
    <div id="me-bottom">Patagonia <i class="fa fa-heart"></i></div>
</div>
